<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Страница админа</title>
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="logo">
            <h2>Italiano mafia</h2>
        </div>
        <div class="header_btn">Страница админа</div>
        <div class="header_btn" id="admin_logout">Выйти</div>
    </div>
</header>
<main>
    <section class="main_info_block">
        <div class="main_info_wrapper">
            <div class="main_info">
                <img class="main_info_image" src="../assets/money-bag.png" alt="money-bag">
                <div class="main_info_content">
                    <p class="main_info_header">Общий доход<br>за 02.05.23</p>
                    <p id="total_current_day_income"></p>
                </div>
            </div>
            <div class="main_info">
                <img class="main_info_image" src="../assets/stats.png">
                <div class="main_info_content">
                    <p class="main_info_header">Количество заказов<br>за 02.05.23</p>
                    <p id="current_day_orders_quantity"></p>
                </div>
            </div>
            <div class="main_info">
                <img class="main_info_image" src="../assets/pizza-icon.png">
                <div class="main_info_content">
                    <p class="main_info_header">Cамая популярная<br>пицца</p>
                    <p id="current_day_popular_pizza"></p>
                </div>
            </div>
            <div class="main_info">
                <img class="main_info_image" src="../assets/user-icon.png" alt="money-bag">
                <div class="main_info_content">
                    <p class="main_info_header">Количество клиентов</p>
                    <p id="total_user_quantity"></p>
                </div>
            </div>
        </div>
    </section>
    <section class="all_orders_info">
        <div class="all_orders_wrapper">
            <div class="order_buttons_wrapper"></div>
            <div class="order_table_container"></div>
        </div>
    </section>
    <section class="items_block">
        <div class="items_block_wrapper">
            <div class="button_container">
                <button class="admin_button" id="show_items">Все товары</button>
                <button class="admin_button" id="add_items">Добавление</button>
                <button class="admin_button" id="delete_items">Удаление</button>
                <button class="admin_button" id="update_items">Редактирование</button>
            </div>
            <div class="add_item_content_container"></div>
        </div>
    </section>
    <section class="coupons_block">
        <div class="coupon_block_wrapper">
            <div class="button_container">
                <button class="admin_button" id="show_coupons">Все товары</button>
                <button class="admin_button" id="add_coupons">Добавление</button>
                <button class="admin_button" id="delete_coupons">Удаление</button>
            </div>
            <div class="coupon_content_container"></div>
        </div>
    </section>
    <section class="toppings_block">
        <div class="toppings_block_wrapper">
            <div class="button_container">
                <button class="admin_button" id="show_toppings">Все товары</button>
                <button class="admin_button" id="add_toppings">Добавление</button>
                <button class="admin_button" id="delete_toppings">Удаление</button>
                <button class="admin_button" id="edit_toppings">Редактирование</button>
            </div>
            <div class="toppings_content_container"></div>
        </div>
    </section>
    <script src="../logic/main-info.js"></script>
    <script src="../logic/add-pizza.js"></script>
    <script src="../logic/order-info.js"></script>
    <script src="../logic/add-coupon.js"></script>
    <script src="../logic/add-topping.js"></script>
</main>
