<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Страница админа</title>
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="logo">
            <h2>Italiano mafia</h2>
        </div>
        <div class="header_btn">Страница админа</div>
        <div class="header_btn" id="admin_logout">Выйти</div>
    </div>
</header>
<main>
    <section class="main_info_block">
        <div class="main_info_wrapper">
            <div class="main_info">
                <img class="main_info_image" src="../assets/money-bag.png" alt="money-bag">
                <div class="main_info_content">
                    <p class="main_info_header">Общий доход<br>за 02.05.23</p>
                    <p id="total_current_day_income"></p>
                </div>
            </div>
            <div class="main_info">
                <img class="main_info_image" src="../assets/stats.png">
                <div class="main_info_content">
                    <p class="main_info_header">Количество заказов<br>за 02.05.23</p>
                    <p id="current_day_orders_quantity"></p>
                </div>
            </div>
            <div class="main_info">
                <img class="main_info_image" src="../assets/pizza-icon.png">
                <div class="main_info_content">
                    <p class="main_info_header">Cамая популярная<br>пицца</p>
                    <p id="current_day_popular_pizza"></p>
                </div>
            </div>
            <div class="main_info"></div>
        </div>
    </section>
    <section class="all_orders_info">
        <div class="all_orders_wrapper">
            <div class="order_buttons_wrapper"></div>
            <div class="order_table_container"></div>
        </div>
    </section>
    <section class="items_block">
        <div class="items_block_wrapper">
            <div class="add_item_form_container">
                <form id="authorization_form" autocomplete="off" action="http://localhost:8080/api/pizza/add" method="post" enctype="multipart/form-data">
                    <label for="name">Название</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="name" name="name"><br>
                    </div>
                    <label for="picture">Фото</label>
                    <div class="input_field">
                        <input type="file" autocomplete="off" class="input" id="picture" name="picture"><br>
                    </div>
                    <label for="ingredients">Состав</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="ingredients" name="ingredients"><br>
                    </div>
                    <div class="input_field">
                        <select autocomplete="off" class="input" id="type" name="type">
                            <option class="input">Классические</option>
                            <option class="input">Премиум</option>
                            <option class="input">Острые</option>
                            <option class="input">Легенды</option>
                            <option class="input">Новинки</option>
                        </select>
                    </div>
                    <p>Маленькая:</p>
                    <label for="small_price">Цена</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="small_price" name="small_price">
                    </div>
                    <label for="small_weight">Вес</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="small_weight" name="small_weight"><br>
                    </div>
                    <p>Средняя:</p>
                    <label for="medium_price">Цена</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="medium_price" name="medium_price">
                    </div>
                    <label for="medium_weight">Вес</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="medium_weight" name="medium_weight"><br>
                    </div>
                    <p>Большая:</p>
                    <label for="big_price">Цена</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="big_price" name="big_price">
                    </div>
                    <label for="big_weight">Вес</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="big_weight" name="big_weight"><br>
                    </div>
                    <button type="submit" class="admin_form_submit">Добавить товар</button>
                </form>
            </div>
        </div>
    </section>
    <section class="coupons_block">
        <div class="coupon_block_wrapper">
            <div class="add_item_form_container">
                <form id="coupon_add_form" autocomplete="off">
                    <label for="name">Название</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="coupon_name" name="name"><br>
                    </div>
                    <label for="coupon_description">Описание</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="coupon_description" name="description"><br>
                    </div>
                    <label for="min_orders_quantity">Минимальное кол-во заказов</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="min_orders_quantity" name="min_orders_quantity"><br>
                    </div>
                    <label for="min_money_spent">Минимальное кол-во потраченных денег</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="min_money_spent" name="min_money_spent"><br>
                    </div>
                    <label for="coupon_type">Название</label>
                    <div class="input_field">
                        <select autocomplete="off" class="input" id="coupon_type" name="coupon_type">
                            <option class="input">каждая N бесплатно</option>
                            <option class="input">пицца бесплатно</option>
                            <option class="input">временной промежуток</option>
                            <option class="input">первый заказ</option>
                            <option class="input">цена для одного размера</option>
                        </select>
                    </div>
                    <label for="first_param">Первый параметр</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="first_param" name="first_param"><br>
                    </div>
                    <label for="second_param">Второй параметр</label>
                    <div class="input_field">
                        <input type="text" autocomplete="off" class="input" id="second_param" name="second_param"><br>
                    </div>
                    <button type="submit" class="admin_form_submit">Добавить купон</button>
                </form>
            </div>
        </div>
    </section>
    <script src="../logic/main-info.js"></script>
    <script src="../logic/order-info.js"></script>
    <script src="../logic/add-coupon.js"></script>
</main>
