<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Карточка товара</title>
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="logo">
            <h2>Italiano mafia</h2>
        </div>
        <ul class="navigation">
            <li class="nav_button">Главная</li>
            <li class="nav_button header_active_button">Меню</li>
            <li class="nav_button">Акции</li>
            <li class="nav_button">О нас</li>
        </ul>
        <button class="header_btn authorization_button">Авторизоваться</button>
        <button class="header_btn cart_button">Корзина</button>
    </div>
</header>
<main>
    <section class="item_block">
        <div class="item_block_wrapper">
            <a class="buy_pizza_ref" href="index.html">Главная</a>
            <a class="buy_pizza_ref" href="menu.html">Меню</a>
            <a class="buy_pizza_ref active_ref" href=""></a>
            <div class="item-container">
                <div class="item_picture">
                    <img src="../assets/4-seasons-pizza.png" alt="somePizza">
                </div>
                <div class="item_spec">
<!--                    <h3 id="item_name">Пепперони фреш</h3>-->
                    <h3 id="item_name"></h3>
<!--                    <p class="item_description">30 см, традиционное тесто,<br>620г</p>-->
                    <p class="item_description">
                        <span id="item_diameter"></span>cм,
                        <span id="item_dough"></span>,<br>
                        <span id="item_weight"></span>г
                    </p>
                    <div class="item_size_wrapper">
                        <div class="item_size" id="small_size">Маленькая</div>
                        <div class="item_size" id="middle_size">Средняя</div>
                        <div class="item_size" id="large_size">Большая</div>
                    </div>
                    <div class="item_dough_type_wrapper">
                        <div class="item_dough_type" id="traditional_dough">Традиционное</div>
                        <div class="item_dough_type" id="thin_dough">Тонкое</div>
                    </div>
                    <h3 id="item_add_toppings">Добавить к пицце: </h3>
                    <div class="item_toppings_wrapper"></div>
                </div>
            </div>
            <div class="item_add_cart">
                <button class="item_add_cart_button">Добавить в корзину за <span id="pizza_cost"></span> руб.</button>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="footer_wrapper">
        <div class="footer_item">
            <img class="contacts_img" src="../assets/clock.svg" alt="ringer">
            <p class="contacts_text">Пн-Вс<br>с 9.00 до 24.00</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/delivery-car.png" alt="ringer">
            <p class="contacts_text">Время доставки<br>30 мин</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/location.png" alt="ringer">
            <p class="contacts_text">Адрес<br>ул. Дрозды, 15</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/insta-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/tg-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/vk-logo.svg" alt="ringer">
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/ringer.png" alt="ringer">
            <p class="contacts_text">Контактный номер<br>+375 (29) 515-46-88</p>
        </div>
    </div>
    <script src="../logic/item-page.js"></script>
    <script src="../logic/window-set-up.js" data-scroll="100"></script>
</footer>
</body>
</html>