<div class="close_block"></div>
<h1 class="popup_authorization_header">Вернись в ряды нашей мафии!</h1>
<form class="authorization_form">
    <label for="email">Email</label>
    <input type="text" autocomplete="off" class="input_field" id="email" name="email"><br>
    <label for="password">Пароль</label>
    <input type="text" autocomplete="off" class="input_field" id="password" name="password"><br>
</form>
<div class="submit_btn_wrapper">
    <div class="submit_btn" id="login_btn">Отправить</div>
</div>
<div class="additional_questions_wrapper">
    <p class="authorization_additional_questions" id="forgot_password">Забыли пароль?</p>
    <p class="authorization_additional_questions" id="register">Зарегистрироваться</p>
</div>