<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Меню</title>
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="logo">
            <h2>Italiano mafia</h2>
        </div>
        <ul class="navigation">
            <li class="nav_button">Главная</li>
            <li class="nav_button header_active_button">Меню</li>
            <li class="nav_button">Акции</li>
            <li class="nav_button">О нас</li>
        </ul>
        <button class="header_btn authorization_button">Авторизоваться</button>
        <div class="header_btn cart_button">
            <button class="header_btn">Корзина</button>
        </div>
        <div class="cart_popup">
            <div class="close_cart_button_wrapper">
                <button class="close_cart_button">Свернуть корзину</button>
            </div>
            <div class="cart_items_wrapper">
                <div class="cart_items"></div>
            </div>
            <div class="cart_details">
                <p class="cart_total_price">Сумма заказа: <span id="cart_total_price"></span> руб.</p>
                <button class="cart_order_btn">Оформить заказ</button>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="buy_pizza_block">
        <div class="buy_pizza_wrapper">
            <div class="buy_pizza_text">
                <a class="buy_pizza_ref" href="index.html">Главная</a>
                <a class="buy_pizza_ref active_ref" href="menu.html">Меню</a>
                <h1 id="buy_pizza_header">Выбери свою пиццу</h1>
                <hr id="buy_pizza_line">
                <p>Пицца на любой вкус: мясная, сырная, вегетарианская,<br> острая, а также сытные блюда и десерты!</p>
            </div>
            <div class="buy_pizza_img_wrapper">
                <img class="buy_pizza_img" src="../assets/pizza-and-vegetables.png" alt="pizza and vegetables">
            </div>
        </div>
    </section>
    <section class="bestseller_block">
        <div class="bestseller_block_wrapper">
            <div class="bestseller_text_and_picture">
                <h1 id="bestseller"><span>Хит</span> продаж!</h1>
                <p>ПИЦЦА ПЕППЕРОНИ</p>
                <img class="bestseller_img" src="../assets/pepperoni-2.png" alt="pepperoni">
            </div>
            <div class="bestseller_order_window">
                <h1 id="bestseller_price">29.99 <span>руб.</span></h1>
                <p id="bestseller_per_one_item">за 1 шт.</p>
                <div class="bestseller_cart_add">
                    <button class="bestseller_sign">-</button>
                    <p>1</p>
                    <button class="bestseller_sign">+</button>
                </div>
                <button id="add_bestseller">В КОРЗИНУ</button>
            </div>
        </div>
    </section>
    <section class="menu_block">
        <div class="menu_block_wrapper">
            <h1 id="menu_header">МЕНЮ <span>ПИЦЦЕРИИ</span></h1>
            <div class="menu_navigation">
                <div class="menu_nav_btn">Пицца</div>
                <div class="menu_nav_btn">Паста и ризотто</div>
                <div class="menu_nav_btn">Супы</div>
                <div class="menu_nav_btn">Салаты</div>
                <div class="menu_nav_btn">Десерты</div>
            </div>
            <div class="slider_wrapper">
                <div class="menu" id="full_menu"></div>
            </div>
        </div>
    </section>
    <div class="popup_container">
        <section class="popup_block">
            <div class="popup_block_wrapper">
                <div class="popup_img">
                    <img src="../assets/crazy-girl.jpg" alt="crazy-girl">
                </div>
                <div class="popup_authorization">
                    <div class="close_block"></div>
                    <h1 class="popup_authorization_header">Вернись в ряды нашей мафии!</h1>
                    <form class="authorization_form">
                        <label for="email">Email</label>
                        <input type="text" autocomplete="off" class="input_field" id="email" name="email"><br>
                        <label for="password">Пароль</label>
                        <input type="text" autocomplete="off" class="input_field" id="password" name="password"><br>
                    </form>
                    <div class="submit_btn_wrapper">
                        <div class="submit_btn">Отправить</div>
                    </div>
                    <div class="additional_questions_wrapper">
                        <p class="authorization_additional_questions" id="forgot_password">Забыли пароль?</p>
                        <p class="authorization_additional_questions" id="register">Зарегистрироваться</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer>
    <div class="footer_wrapper">
        <div class="footer_item">
            <img class="contacts_img" src="../assets/clock.svg" alt="ringer">
            <p class="contacts_text">Пн-Вс<br>с 9.00 до 24.00</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/delivery-car.png" alt="ringer">
            <p class="contacts_text">Время доставки<br>30 мин</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/location.png" alt="ringer">
            <p class="contacts_text">Адрес<br>ул. Дрозды, 15</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/insta-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/tg-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/vk-logo.svg" alt="ringer">
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/ringer.png" alt="ringer">
            <p class="contacts_text">Контактный номер<br>+375 (29) 515-46-88</p>
        </div>
    </div>
    <script src="../logic/popup.js"></script>
    <script src="../logic/template-generator.js"></script>
    <script src="../logic/item-cards.js"></script>
    <script src="../logic/window-set-up.js" data-scroll="1000"></script>
    <script src="../logic/authorization.js"></script>
    <script src="../logic/auth-pages-management.js"></script>
    <script src="../logic/mutator-config.js"></script>
    <script src="../logic/cart-popup.js"></script>
</footer>
</body>
</html>