!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Карточка товара</title>
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="logo">
            <h2>Italiano mafia</h2>
        </div>
        <ul class="navigation">
            <li class="nav_button">
                <a href="index.html">Главная</a>
            </li>
            <li class="nav_button">
                <a href="menu.html">Меню</a>
            </li>
            <li class="nav_button">
                <a href="index.html#contacts_header">Контакты</a>
            </li>
            <li class="nav_button">
                <a href="index.html#pizza_place_pictures_header">О нас</a>
            </li>
        </ul>
        <button class="header_btn authorization_button">авторизован</button>
        <button class="header_btn cart_button">Корзина</button>
    </div>
</header>
<main>
    <section class="order_making_block">
        <div class="order_making_block_wrapper">
            <div class="order_making_delivery">
                <div class="order_making_header">
                    <h1>Оформление заказа</h1>
                    <ul class="delivery_types">
                        <li class="delivery_type active_delivery_type">Доставка</li>
                        <li class="delivery_type">Самовывоз</li>
                    </ul>
                </div>
                <div class="order_making_form_wrapper">
                    <form id="address_form" autocomplete="off">
                        <h3 class="order_making_form_subheader">Адрес доставки</h3>
                        <label for="street">Улица</label>
                        <div class="input_field">
                            <input type="text" class="input" id="street" name="street"><br>
                        </div>
                        <label for="house">Дом</label>
                        <div class="input_field">
                            <input type="text" class="input" id="house" name="house"><br>
                        </div>
                        <label for="flat">Квартира</label>
                        <div class="input_field">
                            <input type="text" class="input" id="flat" name="flat"><br>
                        </div>
                        <label for="entrance">Подъезд</label>
                        <div class="input_field">
                            <input type="text" class="input" id="entrance" name="entrance"><br>
                        </div>
                        <label for="doorCode">Код двери</label>
                        <div class="input_field">
                            <input type="text" class="input" id="doorCode" name="doorCode"><br>
                        </div>
                    </form>
                    <h3 class="order_making_form_subheader">Информация</h3>
                    <form id="identity_data_form" autocomplete="off">
                        <label for="phone_number">Телефон</label>
                        <div class="input_field">
                            <input type="tel" class="input" id="phone_number" name="phone_number"><br>
                        </div>
                        <label for="email">E-mail</label>
                        <div class="input_field">
                            <input type="email" class="input" id="email" name="email"><br>
                        </div>
                        <label for="coupon">Есть купон?</label>
                        <div class="input_field">
                            <input type="text" class="input coupon_field" id="coupon" name="coupon">
                        </div>
                        <div class="coupon_apply_btn" style="display: inline-block">Применить</div><br>
                    </form>
                    <h3 class="order_making_form_subheader">Способ оплаты</h3>
                    <form class="payment_type_form">
                        <div class="input_field">
                            <select class="payment_types input">
                                <option>Картой</option>
                                <option>Наличными курьеру</option>
                            </select>
                        </div>
                    </form>
                    <div class="submit_btn_wrapper">
                        <div class="submit_btn">Отправить</div>
                    </div>
                </div>
            </div>
            <div class="current_order_wrapper">
                <div class="current_order_header">
                    <h1>Ваш заказ</h1>
                </div>
                <div class="current_order_container"></div>
                <div class="order_total_cost_wrapper">
                    <h3 class="order_total_cost">Итого: <span id="total_cost"></span> руб.</h3>
                </div>
            </div>
        </div>
    </section>
    <script src="../logic/template-generator.js"></script>
    <script src="../logic/order-making-cart-template-generator.js"></script>
    <script src="../logic/mutator-config.js" data-price="total_cost" data-item="current_order_container"></script>
    <script src="../logic/cart-event-listeners.js"></script>
    <script src="../logic/order-making.js"></script>
    <script src="../logic/auth-check.js"></script>
</main>
<footer>
    <div class="footer_wrapper">
        <div class="footer_item">
            <img class="contacts_img" src="../assets/clock.svg" alt="ringer">
            <p class="contacts_text">Пн-Вс<br>с 9.00 до 24.00</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/delivery-car.png" alt="ringer">
            <p class="contacts_text">Время доставки<br>30 мин</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/location.png" alt="ringer">
            <p class="contacts_text">Адрес<br>ул. Дрозды, 15</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/insta-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/tg-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/vk-logo.svg" alt="ringer">
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/ringer.png" alt="ringer">
            <p class="contacts_text">Контактный номер<br>+375 (29) 515-46-88</p>
        </div>
    </div>
</footer>