<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="logo">
            <h2>Italiano mafia</h2>
        </div>
        <ul class="navigation">
            <li class="nav_button">
                <a href="index.html">Главная</a>
            </li>
            <li class="nav_button header_active_button">Меню</li>
            <li class="nav_button">
                <a href="index.html#contacts_header">Контакты</a>
            </li>
            <li class="nav_button">
                <a href="index.html#pizza_place_pictures_header">О нас</a>
            </li>
        </ul>
        <button class="header_btn logout_button">Выйти из аккаунта</button>
        <button class="header_btn cart_button">Корзина</button>
    </div>
</header>
<main>
    <section class="personal_account_block">
        <div class="personal_account_wrapper">
            <div class="account_data">
                <h1 class="personal_account_header">Профиль</h1>
                <div class="identity_data">
                    <form class="identity_data_form" autocomplete="off">
                        <h3 class="order_making_form_subheader">Личные данные</h3>
                        <label for="email">Email</label>
                        <div class="input_field">
                            <input type="email" class="input" id="email" name="email" disabled><br>
                        </div>
                        <label for="name">Имя</label>
                        <div class="input_field">
                            <input type="text" class="input" id="name" name="name" value="Анонимный мафиози"><br>
                        </div>
                        <label for="phone_number">Номер телефона</label>
                        <div class="input_field">
                            <input type="tel" class="input" id="phone_number" name="phone_number"><br>
                        </div>
                        <button type="submit" class="identity_data_btn">Обновить данные</button>
                    </form>
                </div>
                <div class="coupon_container">
                    <h3 class="order_making_form_subheader">Купоны</h3>
                </div>
                <div class="address_info_container"></div>
            </div>
            <div class="previous_orders">
                <h1 class="personal_account_header">История заказов</h1>
                <div class="previous_orders_container"></div>
            </div>
        </div>
    </section>
    <script src="../logic/coupon_template_generator.js"></script>
    <script src="../logic/order_template_generator.js"></script>
    <script src="../logic/personal-account.js"></script>

</main>
<footer>
    <div class="footer_wrapper">
        <div class="footer_item">
            <img class="contacts_img" src="../assets/clock.svg" alt="ringer">
            <p class="contacts_text">Пн-Вс<br>с 9.00 до 24.00</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/delivery-car.png" alt="ringer">
            <p class="contacts_text">Время доставки<br>30 мин</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/location.png" alt="ringer">
            <p class="contacts_text">Адрес<br>ул. Дрозды, 15</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/insta-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/tg-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/vk-logo.svg" alt="ringer">
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/ringer.png" alt="ringer">
            <p class="contacts_text">Контактный номер<br>+375 (29) 515-46-88</p>
        </div>
    </div>
</footer>