<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="logo">
            <h2>Italiano mafia</h2>
        </div>
        <ul class="navigation">
            <li class="nav_button">
                <a href="index.html">Главная</a>
            </li>
            <li class="nav_button header_active_button">Меню</li>
            <li class="nav_button">
                <a href="index.html#contacts_header">Контакты</a>
            </li>
            <li class="nav_button">
                <a href="order-making.html">Заказ</a>
            </li>
        </ul>
        <button class="header_btn logout_button">Выйти из аккаунта</button>
        <button class="header_btn cart_button">Корзина</button>
        <div class="cart_popup">
            <div class="close_cart_button_wrapper">
                <button class="close_cart_button">Свернуть корзину</button>
            </div>
            <div class="cart_items_wrapper">
                <div class="cart_items"></div>
            </div>
            <div class="cart_details">
                <p class="cart_total_price">Сумма заказа: <span id="cart_total_price"></span> руб.</p>
                <button class="cart_order_btn">Оформить заказ</button>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="personal_account_block">
        <div class="personal_account_wrapper">
            <div class="account_data">
                <h1 class="personal_account_header">Профиль</h1>
                <div class="identity_data">
                    <form class="identity_data_form" autocomplete="off" novalidate>
                        <h3 class="order_making_form_subheader">Личные данные</h3>
                        <div class="input_field">
                            <label for="email">Email</label>
                            <input class="input" id="email" name="email" pattern="[A-Za-z0-9]+\@[a-z]+\.[a-z]+" disabled><br>
                        </div>
                        <div class="input_field">
                            <label for="name">Имя</label>
                            <input type="text" class="input" id="name" name="name" value="Анонимный мафиози"><br>
                        </div>
                        <div class="input_field">
                            <label for="phone_number">Номер телефона</label>
                            <input pattern="\+\d{1,3}\s\(\d{1,2}\)\s\d{3}-\d{2}-\d{2}" class="input" id="phone_number" name="phone_number"><br>
                        </div>
                        <button type="submit" class="personal_account_btn identity_data_btn">Обновить данные</button>
                    </form>
                </div>
                <h1 class="personal_account_header">Адрес доставки</h1>
                <div class="address_block">
                    <form id="address_form" autocomplete="off">
                        <div class="input_field">
                            <label for="street">Улица</label>
                            <input type="text" class="input" id="street" name="street"><br>
                        </div>
                        <div class="input_field">
                            <label for="house">Дом</label>
                            <input type="text" class="input digit_input" id="house" name="house"><br>
                        </div>
                        <div class="input_field">
                            <label for="flat">Квартира</label>
                            <input type="text" class="input digit_input" id="flat" name="flat"><br>
                        </div>
                        <div class="input_field">
                            <label for="entrance">Подъезд</label>
                            <input type="text" class="input digit_input" id="entrance" name="entrance"><br>
                        </div>
                        <div class="input_field">
                            <label for="door_code">Код двери</label>
                            <input type="text" class="input digit_input" id="door_code" name="door_code"><br>
                        </div>
                        <button type="submit" class="personal_account_btn address_submit_btn">Обновить адрес</button>
                    </form>
                </div>
                <h1 class="personal_account_header">Карта для оплаты</h1>
                <div class="credit_card_block">
                    <form id="card_form" autocomplete="off">
                        <div class="card_form_input_wrapper">
                            <div class="input_field card_number_input">
                                <label for="number">Номер</label>
                                <input type="text" class="input" id="number" name="number" required>
                            </div>
                            <div class="input_field valid_thru_input">
                                <label for="validity">Действительна до</label>
                                <input class="input" pattern="((0[1-9])|(1[0-2]))\/2[3-9]" id="validity" name="validity" required>
                            </div>
                        </div>
                        <button type="submit" class="personal_account_btn card_submit_btn">Обновить данные карты</button>
                    </form>
                </div>
                <div class="coupon_container">
                    <h3 class="order_making_form_subheader">Купоны</h3>
                </div>
                <div class="address_info_container"></div>
            </div>
            <div class="previous_orders">
                <h1 class="personal_account_header">История заказов</h1>
                <div class="previous_orders_container"></div>
            </div>
        </div>
    </section>
    <script src="../logic/validation/validation-setup.js"></script>
    <script src="../logic/validation/personal-data-validation.js"></script>
    <script src="../logic/coupon_template_generator.js"></script>
    <script src="../logic/order_template_generator.js"></script>
    <script src="../logic/template-generator.js"></script>
    <script src="../logic/popup.js"></script>
    <script src="../logic/mutator-config.js"></script>
    <script src="../logic/cart-event-listeners.js"></script>
    <script src="../logic/cart-popup.js"></script>
    <script src="../logic/personal-account.js"></script>

</main>
<footer>
    <div class="footer_wrapper">
        <div class="footer_item">
            <img class="contacts_img" src="../assets/clock.svg" alt="ringer">
            <p class="contacts_text">Пн-Вс<br>с 9.00 до 24.00</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/delivery-car.png" alt="ringer">
            <p class="contacts_text">Время доставки<br>30 мин</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/location.png" alt="ringer">
            <p class="contacts_text">Адрес<br>ул. Дрозды, 15</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/insta-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/tg-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/vk-logo.svg" alt="ringer">
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/ringer.png" alt="ringer">
            <p class="contacts_text">Контактный номер<br>+375 (29) 515-46-88</p>
        </div>
    </div>
</footer>