<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Карточка товара</title>
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="logo">
            <h2>Italiano mafia</h2>
        </div>
        <ul class="navigation">
            <li class="nav_button">Главная</li>
            <li class="nav_button header_active_button">Меню</li>
            <li class="nav_button">Акции</li>
            <li class="nav_button">О нас</li>
        </ul>
        <button class="header_btn authorization_button">Авторизоваться</button>
        <button class="header_btn cart_button">Корзина</button>
    </div>
</header>
<main>
    <section class="popup_block">
        <div class="popup_block_wrapper">
            <div class="popup_img">
                <img src="../assets/crazy-girl.jpg" alt="crazy-girl">
            </div>
            <div class="popup_authorization">
                <h1 class="popup_authorization_header">Вернись в ряды нашей мафии!</h1>
                <form class="authorization_form">
                    <label for="email">Email</label>
                    <input type="text" class="input_field" id="email" name="email"><br>
                    <label for="password">Пароль</label>
                    <input type="text" class="input_field" id="password" name="password"><br>
                </form>
                <div class="submit_btn_wrapper">
                    <div class="submit_btn">Отправить</div>
                </div>
                <div class="additional_questions_wrapper">
                    <p class="authorization_additional_questions">Забыли пароль?</p>
                    <p class="authorization_additional_questions">Зарегистрироваться</p>
                </div>
            </div>
        </div>
    </section>
    <section class="popup_block">
        <div class="popup_block_wrapper">
            <div class="popup_img">
                <img src="../assets/crazy-girl.jpg" alt="crazy-girl">
            </div>
            <div class="popup_registration">
                <h1 class="popup_authorization_header">Вступи в ряды нашей мафии!</h1>
                <form class="registration_form">
                    <label for="reg_phone_number">Номер телефона</label>
                    <input type="text" class="input_field" id="reg_phone_number" name="phone_number"><br>
                    <label for="reg_email">Email</label>
                    <input type="text" class="input_field" id="reg_email" name="email"><br>
                    <label for="reg_password">Пароль</label>
                    <input type="text" class="input_field" id="reg_password" name="password"><br>
                </form>
                <div class="submit_btn_wrapper">
                    <div class="submit_btn">Отправить</div>
                </div>
                <div class="additional_questions_wrapper">
                    <p class="authorization_additional_questions">Войти в существующий аккаунт</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="footer_wrapper">
        <div class="footer_item">
            <img class="contacts_img" src="../assets/clock.svg" alt="ringer">
            <p class="contacts_text">Пн-Вс<br>с 9.00 до 24.00</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/delivery-car.png" alt="ringer">
            <p class="contacts_text">Время доставки<br>30 мин</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/location.png" alt="ringer">
            <p class="contacts_text">Адрес<br>ул. Дрозды, 15</p>
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/insta-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/tg-logo.svg" alt="ringer">
            <img class="contacts_img" src="../assets/vk-logo.svg" alt="ringer">
        </div>
        <div class="footer_item">
            <img class="contacts_img" src="../assets/ringer.png" alt="ringer">
            <p class="contacts_text">Контактный номер<br>+375 (29) 515-46-88</p>
        </div>
    </div>
</footer>