<div class="close_block"></div>
<h1 class="popup_authorization_header">Вступи в ряды нашей мафии!</h1>
<form class="registration_form" autocomplete="off">
    <label for="reg_phone_number">Номер телефона</label>
    <div class="input_field">
        <input type="text" autocomplete="off" class="input" id="reg_phone_number" name="phoneNumber"><br>
    </div>
    <label for="reg_email">Email</label>
    <div class="input_field">
        <input type="text" class="input" id="reg_email" name="email"><br>
    </div>
    <label for="reg_password">Пароль</label>
    <div class="input_field">
        <input type="text" class="input" id="reg_password" name="password"><br>
    </div>
    <div class="submit_btn_wrapper">
        <div class="submit_btn" id ="registration_btn">Отправить</div>
    </div>
</form>
<script src="../logic/registration.js"></script>