<!--<div class="popup_registration">-->
<!--</div>-->
<h1 class="popup_authorization_header">Вступи в ряды нашей мафии!</h1>
<form class="registration_form">
    <label for="reg_phone_number">Номер телефона</label>
    <input type="text" class="input_field" id="reg_phone_number" name="phoneNumber"><br>
    <label for="reg_email">Email</label>
    <input type="text" class="input_field" id="reg_email" name="email"><br>
    <label for="reg_password">Пароль</label>
    <input type="text" class="input_field" id="reg_password" name="password"><br>
    <div class="submit_btn_wrapper">
        <div class="submit_btn" id ="registration_btn">Отправить</div>
    </div>
</form>
<div class="additional_questions_wrapper">
    <p class="authorization_additional_questions" id="logIn">Войти в существующий аккаунт</p>
</div>
<script src="../logic/registration.js"></script>